.container
  .row
    .twelve.columns
      %h2 Brushed Cylinder for Submerged Intakes
      
      
      %h3 Summary
      %ul
        %li Protect fish from entrainment and impingement
        %li Protect pumps from clogging
        %li Protect downstream filtration and irrigation equipment
      %h3 Key Features
      %ul
        %li Cylinders concentrate a large amount of surface into a small area
        %li Strong stainless steel construction with wedgewire cylinders provide durability
        %li Powerful and thorough brushing inside and out keeps the screen clean and free of debris
        %li Even flow distribution along the screen surface
        %li Retrievable design allows easy access for maintenance
        %li Cathodically protected to minimize corrosion
      %h3 Control & Power Features
      %ul
        %li Marine-duty hydraulic drive motor rotates cylinder for brush-cleaning
        %li Control panel allows user defined cleaning cycles
        %li Minimal power requirements
        %li Solar power option
        %li Propeller drive option
        %li Interfaces with customer’s SCADA controls
      %h3 Customization
      %ul
        %li Wedgewire slot width options from 0.5 mm to 9 mm
        %li Design for extreme conditions, including ice, debris, currents and hydrostatic forces
        %li Control panel options to match customer’s equipment if necessary
        %li Screen lengths and diameters to meet application needs