.container
  .row
    .twelve.columns
      %h2 Brushed Cone for Shallow Intakes
      
      %h3 Summary
      %ul
        %li Designs for shallow water, tidal esturaries, and silty conditions
        %li Protects fish from entrainment or impingement
        %li Protects pump from clogging debris
        %li Protects downstream filtration and irrigation equipment
      
      %h3 Key Features
      %ul
        %li Screen can be used even if not fully submerged
        %li Positive brushing action prevents debris buildup, sedimentation, and bio-fouling
        %li Cone shaped design is very strong and hydraulically efficient
        %li Easy to install and remove onto various base designs
        %li Internal flow baffle distributes flow evenly across the screen surface
        %li Marine-duty hydraulic drive motor rotates cleaning brushes
        %li Control panel allows user defined cleaning cycles
      
      %h3 Options & Customization
      %ul
        %li Minimal power requirements
        %li Solar power options available
        %li Interfaces with customer’s SCADA controls for remote monitoring and control
        %li Control panels to match customers equipment
        %li Wedgewire slot width options from 1 mm to 9 mm
        %li Screen design and construction for extreme design loads
        %li Screen base diameters up to 15 feet to meet application needs