.container
  .row
    .twelve.columns
      %h2 Water Drive


      %h3 Summary
      %ul
        %li Lightweight design for small pump installations
        %li Cleans using water pressure from pump
        %li Filtration on the suction side of the pump reduces maintenance
        %li Protects pumps and downstream irrigation equipment
        %li Designed for pumps between 300 and 1700 gpm

      %h3 Key Features
      %ul
        %li Neutrally buoyant rotating screen reduces stress and wear while improving rotation
        %li Wedgewire screen has 50% or more open area to reduce clogging issues and is many times stronger than wire cloth or perforated metal
        %li Strong and durable screen construction for long-life in difficult operating environments - withstands 20+ inches of vacuum
        %li Rotation sensor for operation verification
        %li Sealed thrust bearing allows intake pipe to connect to screen at any angle
        %li All stainless steel and plastic construction minimizes corrosion
        %li Design based on over 30 years experience in the business!
      %h3 Options & Customization
      %ul
        %li Rotation sensor can be connected to emergency pump shutoff
        %li Antifouling coating on wedgewire available
        %li Brush cleaner available with propeller drive option
        %li Slotted openings between 1 mm and 1.75 mm available