.container
  .row
    .twelve.columns
      %h2 Fish Screen Design Criteria
      
      %h3 General
      %p Intake screens are typically designed to protect fish from being entrained into a diversion AND to prevent them from being impinged on the screen surface.  This means that the screen openings must be small enough to keep the fish out and that there is enough screen area to allow the fish to swim away without injury.  There are also requirements for providing good hydraulic conditions, keeping the screens clean, and for siting them appropriately in a river, canal, or lake environment.

      %p Several state and federal agencies have guidelines and design criteria for fish protection.  Generally the more conservative criteria will govern; however, there are variances and exceptions to these guidelines since each project is unique.  A well designed facility will also consider the pump or diversion requirements as well as operations and maintenance issues.

      %p ISI’s engineers are familiar with the regulatory design requirements and are experienced in selecting an appropriate design for your new or retrofit project.  We can guide you through the complicated design issues and determine which options makes the most sense - even if an ISI screen is not the most appropriate option!

      %p Below we have referenced several intake screen design criteria that may be applicable to your project.  Please review our project examples to see if your project has similar needs.  Please call us to assist.