:javascript
  $(window).load(function() {
       $('#slider').orbit({fluid:true, animation: 'fade', advanceSpeed: 4000, animationSpeed:1000});
   });

.container
  .row
    .twelve.columns
      %h4 Brush-Cleaned Wedgewire Intake Screens for Fish Protection and Filtration
      #slider
        =image_tag "/static/slide3.jpg"
    
  .row
    .twelve.columns
      %ul
        %li ISI offers innovative screening options with patented and proven features
        %li Brush-cleaned screens are effective alternatives to typical air-burst cleaning and water-backwash systems
        %li ISI’s experienced engineers can assist you in designing new or retrofit facilities with full regulatory compliance
        %li Design-Build capabilities, including full service custom metal fabrication, manufacturing, and installation
        %li Experienced on diversions ranging from 1 to 1450 cfs with typical wedgewire slot sizes less than 2 mm