.container
  .row
    .twelve.columns
      %a.nice.medium.blue.radius.button{:"data-reveal-id" => "addAnotherProject"} Add Another Project
      %hr
  .row
    .twelve.columns
      -@projects.each_with_index do |project, index|
        =content_tag_for :div, project, :class => "#{last_in_line(index+1)}" do
          =link_to project do
            =image_tag project.cover_image
          .trash=link_to "Destroy", project, :method => :delete, :remote => true, :confirm => "Do you really want to remove this project?"
          %h6= project.name

#addAnotherProject.reveal-modal
  %h3 Tell me about the project
  =form_for @project, :html => {:class => "nice"} do |f|
    %label
      %strong What's the name of the project?
      =f.text_field :name, :class => "input-text", :placeholder => "Redding Power Plant ..."
    %label
      %strong Where was the project take place?
      %input.input-text.large{:placeholder => "Redding, CA"}
    %label
      %strong What types of screens were used?
      %input.input-text.large{:placeholder => "2 ISI C-44"}
    %button.nice.small.blue.radius.button{:type=>"submit"} Create Project
  %a.close-reveal-modal &#215;