.container
  .row
    .eight.columns
      %h2 About
      
      %p Intake Screens, Inc. (ISI) has been delivering quality and innovative screens and projects since 1996.  ISI provides complete project and product services including: engineering design, manufacturing, fabrication, installation, and maintenance.  ISI is also a Class A General Engineerng Contractor in the State of California (CL#796197) and has the experience to handle simple to complex projects.   ISI’s facilities are located in Sacramento, CA.

      %p ISI’s success is based on a long history of working in the industry and its staff and owners bring together solid experience that is used on each project.  Russ Berry, founder of ISI, built the first self-cleaning intake screens on a ranch in north central Nebraska.  Seeing the great potential for a product that could solve suction related problems, he started manufacturing them in 1979.  In 1990, he sold Plum Creek Mfg. to the Claude Laval Corporation.  In 1996, Russ formed ISI to develop custom screens specifically for fish protection that could be used in demanding river environments.  In 1999, Russ’ son, Russell Berry IV, became involved in all aspects of the business, developing an impressive array of skill sets and abilities that he continues to build on and enjoy.  Darryl Hayes joined the comapny in 2006, bringing his fish facility and engineering expertise from his experiences at CH2M HILL and the California Department of Water Resources.  Darryl served as DWR’s Fish Facility Chief and lead the design of several large fish screen projects prior being at ISI.  Jacob Chapin also joined ISI in 2006, bringing his mechanical engineering expertise, fabrication, and CAD skills to the company.  Jacob’s resume includes designing fire trucks, heavy portable pump packages, and mechanical systems.  ISI’s staff also includes skilled fabricators and certified welders that can make about anything.

      %p Customers such as municipal water agencies, public utility districts, consulting engineering firms, irrigation districts, golf courses and farmers have all benefited from choosing ISI’s durable and efficient intake screens. ISI models have successfully protected pumping operations from debris and other contaminants, and provided wildlife protection that meets the requirements of state and federal environmental regulatory agencies.

      %p ISI’s achievements were recently recognized by NOAA Fisheries by receiving the Environmental Stewardship Award for Innovations in Fish Protection.

    .four.columns
      %h2 Key Personnel
      
      %h4 Russell Berry IV
      %h5 President
      %h6 rberry4@intakescreensinc.com
      %p Contact Russell for fabrication and manufacturing issues, quality control, and company related matters

      %h4 Russell (Russ) Berry III
      %h5 Vice President & Founder
      %h6 rberry3@intakescreensinc.com
      %p Contact Russ for information on agricultural/turf applications, water drive screens, product development, and company related matters

      %h4 Darryl Hayes, P.E.
      %h5 Engineering Manager
      %h6 dhayes@intakescreensinc.com
      %p Contact Darryl for cost estimating, project development, sales, engineering, and winemaking matters

      %h4 Jacob Chapin
      %h5 Mechanical Design Engineer
      %h6 jchapin@intakescreensinc.com
      %p Contact Jacob for fabrication and computer aided design questions