.container
  .row
    .twelve.columns
      %h2 Some of Our Clients
      
      =image_tag "/static/clients.png"
      
      %p ISI has worked with many engineering firms, regulatory agencies, municipalities, non-profits, and various private interests.  Below are just a few of our partners and clients that we have collaboratively worked with.  Project references are available upon request.