#navigation {margin-bottom:20px;}

/*body {background:black; color:white;}*/

.nice.tabs dd a.active {border-top:3px solid #002840;}
.center {text-align:center;}

#header {
  position:relative;
  height:100px;
  /*  #logo {display:block; margin:0 auto; padding:10px;}*/
  #logo {position:absolute; left:0px; top:10px;}
  h1 {position:absolute; left:90px; top:20px; font-size:28px;}
}