.container
  .row
    %hr
    .twelve.columns
      %p.center
        Intake Screens Inc. | 
        8417 River Rd, Sacramento CA 95832 | 
        (916) 665-2727 | 
        CA Contractor License #796197 | 
        ="© Copyright #{DateTime.now.year}"