!!!
%html
  %head
    %title Intake Screens, Inc.
    =stylesheet_link_tag "application", params[:controller]
    =javascript_include_tag "application"
    =csrf_meta_tags
  
  %body
    .container
      .row
        .twelve.columns
          %h1 Intake Screens, Inc.
    =render "navigation_bar"
    =yield
    =render "footer"